# =============== #
# Unity generated #
# =============== #
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
# /[Aa]ssets/Plugins/
/[Pp]rojectSettings/AssetStoreTools*

# ==================================== #
# Compiled files #
# ==================================== #
*.booproj
*.svd
*.userprefs
*.dll
*.exe
*.apk
*.unitypackage
*.aar
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.DS_Store
*.pidb.meta
*.pidb
*.VC.db
*.VC.opendb
*.pidb.meta
*.pidb
*.pdb.meta
*.pdb
*.mdb
*.mdb.meta

# ==================================== #
# Third Party #
# ==================================== #
/[Tt]hird[Pp]arty/
/[Tt]hird[Pp]arty[Oo]nly/

# ==================================== #
# Asset meta data should only be ignored #
# if the corresponding asset is also     #
# ignored                              #
# ==================================== #
!/[Aa]ssets/**/*.meta

# ==================================== #
# Unity3D generated #
# ==================================== #
sysinfo.txt
